
.white {
  color: white;
}

.header-name {
  display: inline-flex;
}


.background-main {
  background-image: url('background-sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.center-left {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  padding: 0 15px;
  width: 100%;
}

.hero-rocket {
	position: absolute;
	bottom: 8px;
	right: -198px;
  position: relative;
  -webkit-animation: rocket 2s linear infinite;
  animation: rocket 2s linear infinite;
}

.hero-rocket {
	position: absolute;
	bottom: 8px;
	right: -198px;
}

.hero-rocket img {
	position: relative;
	-webkit-animation: rocket 2s linear infinite;
	animation: rocket 2s linear infinite;
}

@-webkit-keyframes rocket {
	0% {
		right: 20px;
		bottom: 20px;
	}
	25% {
		right: -20px;
		bottom: 20px;
	}
	50% {
		right: -20px;
		bottom: 0px;
	}
	75% {
		left: 0px;
		bottom: 0px;
	}
	100% {
		right: 20px;
		bottom: 20px;
	}
}

@keyframes rocket {
	0% {
		right: 20px;
		bottom: 20px;
	}
	25% {
		right: -20px;
		bottom: 20px;
	}
	50% {
		right: -20px;
		bottom: 0px;
	}
	75% {
		right: 0px;
		bottom: 0px;
	}
	100% {
		right: 20px;
		bottom: 20px;
	}
}

@media screen and (max-width: 760px) {

  #changeText {
    font-size: 2rem;
  }

  .margin-img-left {
    margin-left: 0px !important;
  }

  .team-1 {
    margin-top: -150px !important;
  }

  .section {
    margin-bottom: 0px !important;
  }

  .path2 {
    display: none;
  }

  .landing-page .section:nth-of-type(3) {
    padding-bottom: 0px !important;
  }

  .mobile-empty {
    margin: 50px;
  }

  .square2, .square4, .square6 {
    display: none;
  }

  .header-name {
    display: none;
  }

  .section-nucleo-icons {
    --icon-size: 4rem;
    --icon-sm-size: 2.5rem;
    --gutter: 2.5rem;
    overflow: hidden;
  }
  .section-nucleo-icons .icons-container {
    position: relative;
    z-index: 1;
    max-width: 100%;
    height: 200px;
    margin: 30px auto;
  }

  .index-page .page-header {
    height: 130vh;
  }

  .contact-card-pad {
    margin-bottom: 35px !important;
  }

}

/* @media only screen and (max-width: 768px) {
  .page-header-sec {
    height: 180vh !important;
  }
} */

@media screen and (max-width: 360px) {
  .index-page .page-header {
    height: 160vh;
  }
}

.social-media-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cb-mail-contact {
  display: inline-block;
}

.logo-cb-margin {
  margin-top: -10px;
}

.margin-img-left {
  margin-left: 25px;
}

.btn.btn-gram-color.btn-simple {
  color: #d04da1;
  background-color: transparent;
  background-image: none !important;
  box-shadow: none;
  border-color: #d04da1;
}

.btn.btn-gram-color.btn-simple:hover,
.btn.btn-gram-color.btn-simple:focus,
.btn.btn-gram-color.btn-simple:active {
  color: #d04da1;
  border-color: #d04da1;
}

.btn.btn-github-color.btn-simple {
  color: #e92626;
  background-color: transparent;
  background-image: none !important;
  box-shadow: none;
  border-color: #e92626;
}

.btn.btn-github-color.btn-simple:hover,
.btn.btn-github-color.btn-simple:focus,
.btn.btn-github-color.btn-simple:active {
  color: #e92626;
  border-color: #e92626;
}

.animate{
  transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -webkit-transition: 2s ease-in-out;
}

#left-slide .animate {
  transform: translate(-5em,0);
  -moz-transform: translate(-5em,0);
  -webkit-transform: translate(-5em,0);
}

[data-dark-overlay="6"]:after {
    opacity: 0.6;
}

[data-dark-overlay]:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333895;
  z-index: 1
}

.about-me-profile {
  width: 130px !important;
  height: 130px !important;
}

.title-center {
  text-align: center;
}

.profile-page .page-header .path {
  max-width: 65%;
  right: 0;
  top: 100px;
}

.about-me-path {
  max-width: 65%;
  right: 0;
  top: 100px;
}

.profile-name-align {
  position: absolute;
  top: 110px;
  left: 60px;
}

.about-me-path2 {
  right: auto;
  left: 50px;
  max-width: 45%;
  top: 60px;
  position: absolute;
  opacity: 0.02;
}

.experience-section {
  padding-top: 200px;
}

.about-me-nav-color {
  border-color: #1d8cf8 !important;
  color: #1d8cf8 !important;
}

.about-me-work {
  padding-top: 7px;
}

.about-me-pm-text {
  padding-bottom: 15px;
}

.about-me-btn-green {
  color: #00f2c3 !important;
  /* background-color: #00f2c3 !important; */
  background-color: Transparent;
  background-repeat: no-repeat;
  border-color: #00f2c3 !important;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  outline: none;
}

.about-me-btn-green:active {
  box-shadow: none !important;
  transform: translateY(1px) !important;
  transition: all .15s ease;
  outline: none;
}

.about-me-btn-green:not([data-action]):hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  outline: none;
}

.btn-lg {
  outline: none !important;
}

.experience-circle-pic {
  width: 100px !important;
  height: 100px !important;
}


.input-border-blue[type=text]:focus{
  border: 1px solid #1d8cf8 !important;
  border-right: none !important;
}

.form-control:focus+.input-group-append .input-group-text,
.form-control:focus~.input-group-append .input-group-text,
.form-control:focus+.input-group-prepend .input-group-text,
.form-control:focus~.input-group-prepend .input-group-text {
  border: 1px solid #1d8cf8 !important;
  border-left: none !important;
  background-color: transparent;
}

@media screen and (max-width: 414px) {
  /* .index-page .page-header {
    height: 105vh;
  } */

  .section-nucleo-icons-mobile {
    --icon-size: 4rem !important;
    --icon-sm-size: 2.75rem !important;
    --gutter: 3rem !important;
    overflow: hidden !important;
  }
}

@media screen and (max-width: 768px){
  .index-page .page-header {
    min-height: 65vh;
    max-height: 670px;
  }

  [class*="features-"],
  [class*="team-"],
  [class*="projects-"],
  [class*="pricing-"],
  [class*="testimonials-"],
  [class*="contactus-"] {
    padding: 110px 0;
  }

  .section-nucleo-icons {
    --icon-size: 5rem;
    --icon-sm-size: 3.75rem;
    --gutter: 5rem;
    overflow: hidden;
  }

  .email-contact-sec {
    max-height: 1215px !important;
  }

  .contactus-4 .info {
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 25px;
  }

}

@media screen and (max-width: 1024px) {
  .page-header {
    min-height: 62vh;
    max-height: 35px;
  }

  [class*="features-"],
  [class*="team-"],
  [class*="projects-"],
  [class*="pricing-"],
  [class*="testimonials-"],
  [class*="contactus-"] {
    padding: 45px 0;
  }

  .carousel-team .carousel-inner .wrapper {
    padding: 10%;
  }

  .carousel-team .carousel-inner .title {
    text-align: left;
    font-size: 3.8rem;
    margin: 12px;
  }

  .x-margin {
    padding-left: 15px;
  }
}

@media screen and (max-width: 1024px) {
.page-header-mobile {
    min-height: 62vh !important;
    max-height: 1235px !important;
  }
}

.pad-wrapper {
  padding: 1rem !important;
}

.contact-map-title {
  padding-top: 7%;
}

.description-padding {
  margin-bottom: 5px !important;
}

.contact-header-vid {
  position: absolute !important;
  background-size: cover !important;
  background-position: center center !important;
  width: 100% !important;
  height: 100% !important;
  z-index: -1 !important;
}

.btn-primary-contact {
  background: #1d8cf8;
  background-image: -webkit-linear-gradient(to bottom left, #1d8cf8, #1d8cf8, #1d8cf8);
  background-image: -o-linear-gradient(to bottom left, #1d8cf8, #1d8cf8, #1d8cf8);
  background-image: -moz-linear-gradient(to bottom left, #1d8cf8, #1d8cf8, #1d8cf8);
  background-image: linear-gradient(to bottom left, #1d8cf8, #1d8cf8, #1d8cf8);
  background-size: 210% 210%;
  background-position: top right;
  background-color: #1d8cf8;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #ffffff;
}

.btn-primary-contact:hover,
.btn-primary-contact:focus,
.btn-primary-contact:active,
.btn-primary-contact.active,
.btn-primary-contact:active:focus,
.btn-primary-contact:active:hover,
.btn-primary-contact.active:focus,
.btn-primary-contact.active:hover {
  background-color: #ffffff !important;
  background-image: linear-gradient(to bottom left, #ffffff, #ffffff, #ffffff) !important;
  background-image: -webkit-linear-gradient(to bottom left, #ffffff, #ffffff, #ffffff) !important;
  background-image: -o-linear-gradient(to bottom left, #ffffff, #ffffff, #ffffff) !important;
  background-image: -moz-linear-gradient(to bottom left, #ffffff, #ffffff, #ffffff) !important;
  color: #1d8cf8;
  box-shadow: none;
}

/* .input-group-text {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.7rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.428571;
  color: #1d8cf8;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #1d8cf8 !important;
  border-radius: 0.25rem;
} */

/* .form-control {
  border-color: #1d8cf8;
  border-radius: 0.4285rem;
  font-size: 0.75rem;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
} */

.form-control:focus {
  border-color: #1d8cf8;
  background-color: transparent;
  box-shadow: none;
}

.form-control:focus+.input-group-append .input-group-text,
.form-control:focus~.input-group-append .input-group-text,
.form-control:focus+.input-group-prepend .input-group-text,
.form-control:focus~.input-group-prepend .input-group-text {
  border: 1px solid #1d8cf8 !important;
  border-left: none !important;
  background-color: transparent;
}

.input-group-focus .input-group-prepend .input-group-text,
.input-group-focus .input-group-append .input-group-text {
  background-color: #ffffff;
  border-color: #1d8cf8 !important;
  background-color: transparent;
  border-color: #1d8cf8 !important;
}

.form-check input[type="checkbox"]:checked+.form-check-sign::before,
.form-check input[type="checkbox"]:checked+.form-check-sign::before {
  border: none;
  background-color: #1d8cf8 !important;
}

/* [class*="features-"],
[class*="team-"],
[class*="projects-"],
[class*="pricing-"],
[class*="testimonials-"],
[class*="contactus-"] {
  padding: 0px 0 !important;
} */

.mrgn-bot-about {
  margin-bottom: 80px;
}

.contact-alert-margin {
  margin: 10px;
}

.cb-alert-icon {
  display: block;
  left: 19px;
  position: absolute;
  top: 48%;
  margin-top: -11px;
  /* margin-bottom: 15px; */
}

.cb-alert-icon-success {
  display: block;
  left: 15px;
  position: absolute;
  top: 43%;
  margin-top: -11px;
}

.index-alert {
  margin-bottom: -15%;
}

.btn-index-hover:hover,
.btn-index-hover:focus,
.btn-index-hover:active,
.btn-index-hover:not(:disabled):not(.disabled):active {
  color: #ffffff !important;
  border-color: #ffffff !important;
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: none;
}

.btn-info.btn-simple.active {
  border-color: #ffffff !important;
}

.index-page .squares {
  border-radius: 50% !important;
}

.squares.square3 {
  height: 800px !important;
  width: 800px !important;
  bottom: -10% !important;
}

.squares.square5 {
  left: 50% !important;
  bottom: 50% !important;
}

.home-grid {
  display: block;
  margin-left: -20%;
  margin-right: auto;
  width: 40%;
  margin-bottom: -47%;
}

.social-media-index {
  position: absolute !important;
  right: 60px !important;
  z-index: 999 !important;
  top: 38% !important;
  -webkit-transform: translateY(-50%) !important;
  -moz-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  z-index: 999 !important;
}

.index-insta {
  top: 45% !important;
}

.index-linkedin {
  top: 45% !important;
}

.index-github {
  top: 53% !important;
}

.fa-twitter-invert {
    color: #55acee !important;
}

.fa-twitter-invert:hover {
  color: #ffffff !important;
}

.twitter-invert-background {
  background: #ffffff !important;
}

.twitter-invert-background:hover {
  background: #55acee !important;
}

.fa-instagram-invert {
    color: #d04da1 !important;
}

.instagram-invert-background {
  background: #ffffff !important;
}

.fa-instagram-invert:hover {
  color: #ffffff !important;
}
.instagram-invert-background:hover {
  background: #d04da1 !important;
}

.fa-linkedin-invert {
    color: #0077B5 !important;
}

.linkedin-invert-background {
  background: #ffffff !important;
}

.fa-linkedin-invert:hover {
  color: #ffffff !important;
}
.linkedin-invert-background:hover {
  background: #0077B5 !important;
}

.fa-github-invert {
    color: #333333 !important;
}

.github-invert-background {
  background: #ffffff !important;
}

.fa-github-invert:hover {
  color: #ffffff !important;
}
.github-invert-background:hover {
  background: #333333 !important;
}

.btn-index-social {
  height: 2.8rem !important;
  min-width: 2.8rem !important;
  width: 2.8rem !important;
  font-size: 1.3rem !important;
}

.grid-index-animate  {
    -webkit-animation: mover 3s infinite  alternate;
    animation: mover 3s infinite  alternate;
}
.grid-index-animate  {
    -webkit-animation: mover 3s infinite  alternate;
    animation: mover 3s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.square3-img {
  height: 99%;
  width: 100%;
}

.mouse-icon {
  position: relative;
  width: 20px;
  height: 40px;
  border: 1.5px solid #ffffff;
  border-radius: 50px;
  bottom: -410px;
  left: 50%
}

.mouse-icon::after {
  position: absolute;
  top: 100px;
  width: 2px;
  height: 10px;
  content: '';
  background-color: #ffffff;
  left: calc(50% - 1px);
  border-radius: 10px;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  0% {
    opacity: 1;
    top: 5px;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}

.align-mouse {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-name {
  width: 35% !important;
  display: block;
  margin-left: 33%;
  margin-right: auto;
  /* top: 108%; */
  /* z-index: 9999; */
  /* width: 40%; */
  margin-top: -20%;
}

/* .logo-center {
  width: 25% !important;
  margin-left: 50%;
  margin-top: 8%;
} */

.text-white-margin {
  margin-top: 35px !important;
}

.sub-index {
  color: #9A9A9A !important;
}

.text-main {
  font-size: 3.0rem;
  font-weight: 300 !important;
}

.text-sub-heading {
  font-size: 1.2rem;
}

.progress-index {
  width: 450px !important;
  left: 30% !important;
  /* float: left; */
}

.progress-index-right {
  width: 450px !important;
  right: 30% !important;
  /* float: right; */
}

.right-progress {
  float: right;
}

.left-progress {
  float: left;
}

.github-background-index {
  font-size: 550px;
  opacity: 0.02;
  z-index: -999;
  position: absolute;
}
